// Placeholder 
%backgroundImg{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section{
    display: inline-block;
    width: 100%;
    padding: $pd-7 0;
    @include responsive("medium") {
        padding: 50px 0;
    }
}

.style-title{
    margin-bottom: $mg-6;
        text-align: center;
        h3 {
            margin-bottom: $mg-2;
            padding-bottom: $mg-0;
            letter-spacing: $ls-2;
            text-transform: uppercase;

            &::after {
                content: "";
                position: relative;
                left: 50%;
                bottom: -12px;
                width: 60px;
                height: 2px;
                margin-left: $mg-3 + 1;
                background: $color-grey-6;
                display: block;
            }
        }
        p {
            width: 60%;
            margin: 0 auto;
            color: $color-grey-2;
            line-height: $line-height-2;
        }
}